<h1>Edit article
<small><%= link_to 'add new', new_article_path, class: "badge badge-pill badge-success" %></small>
</h1>

<%= form_for :article, url: article_path(@article), method: :put do |f| %>          
  <div class="form-group">                                    
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Save article changes", class: "btn btn-primary" %>
  </div>
<% end %>

<p>
 <%= link_to "Back", :back %> 
</p>
