<h1>Add new article</h1>

<%= form_for :article, url: articles_path do |f| %>

  <% if @article && @article.errors.any? %>
    <div class="alert alert-warning" role="alert">
    <% @article.errors.full_messages.each do |msg| %>
      <ul>
      <li><%= msg %></li>
      </ul>
    <% end %>
    </div>
  <% end %> 
 
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %><br />
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <p>
    <%= f.submit "Save article", class: "btn btn-primary" %>
  </p>  
<% end %>

<p>
 <%= link_to "Back", :back %> 
</p>
