<h1>Contact us</h1>

<%= form_for :contact, url: contacts_path do |f| %>

  <% if @contact && @contact.errors.any? %>

    <div class="alert alert-warning" role="alert">
      <% @contact.errors.full_messages.each do |msg| %>
        <ul>
          <li><%= msg %></li>
        </ul> 
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message %><br />
    <%= f.text_area :message, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Send Message', class: "btn btn-primary" %>
  </div>

<% end %>

<p>
 <%= link_to "Back", :back %> 
</p>
